body {
    background-color: #f4f4f4;
}
.card-header, .btn-primary {
    background-color: #BF932E;
    color: white;
}
.btn-secondary {
    background-color: #8C52FF;
    color: white;
}
.logo {
    max-width: 100px;
    height: auto;
}
img.logo {
    width: 200px;
    height: auto;
}
.card {
    background-color: #BF932E;
    color: #000000;
}
.card-header {
    background-color: #FFFFFF;
}
.progress-bar {
    background-color: #8C52FF;
}
ul {
    list-style-type: none;
}
.instruction-checkbox:checked + label {
    text-decoration: line-through;
}
